assets/big_cloud.glb filter=lfs diff=lfs merge=lfs -text
assets/small_cloud.glb filter=lfs diff=lfs merge=lfs -text
assets/big_cloud.csv filter=lfs diff=lfs merge=lfs -text
assets/small_cloud.csv filter=lfs diff=lfs merge=lfs -text
